In [142]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_pickle('mojo_df_100.pickle')
df2 = pd.read_pickle('mojo_df_200.pickle')
df3 = pd.read_pickle('mojo_df_300.pickle')
df4 = pd.read_pickle('mojo_df_400.pickle')
df5 = pd.read_pickle('mojo_df_500.pickle')
df6 = pd.read_pickle('mojo_df_600.pickle')
df7 = pd.read_pickle('mojo_df_700.pickle')
df8 = pd.read_pickle('mojo_df_800.pickle')
df9 = pd.read_pickle('mojo_df_900.pickle')
df10 = pd.read_pickle('mojo_df_1000.pickle')
df11 = pd.read_pickle('mojo_df_1100.pickle')
df12 = pd.read_pickle('mojo_df_1200.pickle')

In [41]:
dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

In [42]:
mojo_compiled_df = pd.concat(dfs)

In [46]:
#check for duplicates. none found
mojo_compiled_df[mojo_compiled_df.duplicated()]

Empty DataFrame
Columns: [mojo_title, domestic_opening_gross, rating, foreign_market_count, genres, distributor, director, actor_1, actor_2, IMDB_link]
Index: []

In [47]:
#correct number of rows and columns
mojo_compiled_df.shape

(1198, 10)

In [53]:
mojo_compiled_df.tail()

,mojo_title,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,IMDB_link
id,,,,,,,,,,
0780653,The Wolfman,"$31,479,235",R,58,Drama\n \n Fantasy\n \n Ho...,Universal Pictures,Joe Johnston,Benicio Del Toro,Anthony Hopkins,https://pro.imdb.com/title/tt0780653
0890870,Saw IV,"$31,756,764",R,52,Horror\n \n Mystery\n \n T...,Lionsgate,Darren Lynn Bousman,Tobin Bell,Scott Patterson,https://pro.imdb.com/title/tt0890870
4701702,Mr. Six,"$332,117",NaN,6,Action\n \n Drama,China Lion Film Distribution,Hu Guan,Xiaogang Feng,Hanyu Zhang,https://pro.imdb.com/title/tt4701702
0889583,Brüno,"$30,619,130",R,43,Comedy,Universal Pictures,Larry Charles,Sacha Baron Cohen,Gustaf Hammarsten,https://pro.imdb.com/title/tt0889583
0099141,Bird on a Wire,"$15,338,160",NaN,0,Action\n \n Comedy,Universal Pictures,John Badham,Mel Gibson,Goldie Hawn,https://pro.imdb.com/title/tt0099141

In [54]:
top_movies_df = pd.read_pickle('top_movies_df.pickle')

In [55]:
top_movies_df.shape

(1200, 9)

In [56]:
top_movies_df.head()

,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year
4154796,/title/tt4154796/?ref_=bo_cso_table_1,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019
0499549,/title/tt0499549/?ref_=bo_cso_table_2,2,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009
0120338,/title/tt0120338/?ref_=bo_cso_table_3,3,Titanic,"$2,195,169,869","$659,363,944",30%,"$1,535,805,925",70%,1997
2488496,/title/tt2488496/?ref_=bo_cso_table_4,4,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015
4154756,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018

In [63]:
top_movies_df.index.names = ['id']

In [64]:
top_movies_df.head()

,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year
id,,,,,,,,,
4154796,/title/tt4154796/?ref_=bo_cso_table_1,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019
0499549,/title/tt0499549/?ref_=bo_cso_table_2,2,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009
0120338,/title/tt0120338/?ref_=bo_cso_table_3,3,Titanic,"$2,195,169,869","$659,363,944",30%,"$1,535,805,925",70%,1997
2488496,/title/tt2488496/?ref_=bo_cso_table_4,4,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015
4154756,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018

In [65]:
#merging the two dfs with an outer join, on index.
compiled_df = pd.merge(top_movies_df, mojo_compiled_df, on='id', how='outer')

In [67]:
compiled_df.head()

,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,mojo_title,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,IMDB_link
id,,,,,,,,,,,,,,,,,,,
4154796,/title/tt4154796/?ref_=bo_cso_table_1,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019,Avengers: Endgame,"$357,115,007",PG-13,56,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Evans,https://pro.imdb.com/title/tt4154796
0499549,/title/tt0499549/?ref_=bo_cso_table_2,2,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009,Avatar,"$77,025,481",PG-13,77,Action\n \n Adventure\n \n ...,Twentieth Century Fox,James Cameron,Sam Worthington,Zoe Saldana,https://pro.imdb.com/title/tt0499549
0120338,/title/tt0120338/?ref_=bo_cso_table_3,3,Titanic,"$2,195,169,869","$659,363,944",30%,"$1,535,805,925",70%,1997,Titanic,"$28,638,131",PG-13,67,Drama\n \n Romance,Paramount Pictures,James Cameron,Leonardo DiCaprio,Kate Winslet,https://pro.imdb.com/title/tt0120338
2488496,/title/tt2488496/?ref_=bo_cso_table_4,4,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015,Star Wars: Episode VII - The Force Awakens,"$247,966,675",PG-13,62,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,J.J. Abrams,Daisy Ridley,John Boyega,https://pro.imdb.com/title/tt2488496
4154756,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018,Avengers: Infinity War,"$257,698,183",PG-13,54,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Hemsworth,https://pro.imdb.com/title/tt4154756

In [69]:
#check to see if title columns correspond
mask = compiled_df['Title'] != compiled_df['mojo_title']

In [70]:
compiled_df[mask]

,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,mojo_title,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,IMDB_link
id,,,,,,,,,,,,,,,,,,,
4276752,/title/tt4276752/?ref_=bo_cso_table_185,588,Mojin: The Lost Legend,"$259,368,448","$1,243,810",0.5%,"$258,124,638",99.5%,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0112715,/title/tt0112715/?ref_=bo_cso_table_112,"1,130",Congo,"$152,022,101","$81,022,101",53.3%,"$71,000,000",46.7%,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
#drop rows without values from movie title page df.
compiled_df= compiled_df.drop(['4276752','0112715'])

In [79]:
#we have two title columns, with all the same information, as we've checked.
#let's delete one
del compiled_df['mojo_title']

In [80]:
compiled_df.head()

,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,IMDB_link
id,,,,,,,,,,,,,,,,,,
4154796,/title/tt4154796/?ref_=bo_cso_table_1,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019,"$357,115,007",PG-13,56,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Evans,https://pro.imdb.com/title/tt4154796
0499549,/title/tt0499549/?ref_=bo_cso_table_2,2,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009,"$77,025,481",PG-13,77,Action\n \n Adventure\n \n ...,Twentieth Century Fox,James Cameron,Sam Worthington,Zoe Saldana,https://pro.imdb.com/title/tt0499549
0120338,/title/tt0120338/?ref_=bo_cso_table_3,3,Titanic,"$2,195,169,869","$659,363,944",30%,"$1,535,805,925",70%,1997,"$28,638,131",PG-13,67,Drama\n \n Romance,Paramount Pictures,James Cameron,Leonardo DiCaprio,Kate Winslet,https://pro.imdb.com/title/tt0120338
2488496,/title/tt2488496/?ref_=bo_cso_table_4,4,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015,"$247,966,675",PG-13,62,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,J.J. Abrams,Daisy Ridley,John Boyega,https://pro.imdb.com/title/tt2488496
4154756,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018,"$257,698,183",PG-13,54,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Hemsworth,https://pro.imdb.com/title/tt4154756

In [81]:
compiled_df.to_csv(r'/Users/juliaqiao/Documents/Metis/Project_2.csv')

In [3]:
clean_df = pd.read_csv('compiled_df_original.csv')

In [4]:
clean_df.head()

,id,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,IMDB_link
0,4154796,/title/tt4154796/?ref_=bo_cso_table_1,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019,"$357,115,007",PG-13,56,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Evans,https://pro.imdb.com/title/tt4154796
1,499549,/title/tt0499549/?ref_=bo_cso_table_2,2,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009,"$77,025,481",PG-13,77,Action\n \n Adventure\n \n ...,Twentieth Century Fox,James Cameron,Sam Worthington,Zoe Saldana,https://pro.imdb.com/title/tt0499549
2,120338,/title/tt0120338/?ref_=bo_cso_table_3,3,Titanic,"$2,195,169,869","$659,363,944",30%,"$1,535,805,925",70%,1997,"$28,638,131",PG-13,67,Drama\n \n Romance,Paramount Pictures,James Cameron,Leonardo DiCaprio,Kate Winslet,https://pro.imdb.com/title/tt0120338
3,2488496,/title/tt2488496/?ref_=bo_cso_table_4,4,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015,"$247,966,675",PG-13,62,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,J.J. Abrams,Daisy Ridley,John Boyega,https://pro.imdb.com/title/tt2488496
4,4154756,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018,"$257,698,183",PG-13,54,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Hemsworth,https://pro.imdb.com/title/tt4154756

In [9]:
#a few movies without foreign_market_count
clean_df[clean_df['foreign_market_count'] == '0']

,id,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,IMDB_link
180,120591,/title/tt0120591/?ref_=bo_cso_table_181,181,Armageddon,"$553,709,788","$201,578,182",36.4%,"$352,131,606",63.6%,1998,"$36,089,972",PG-13,0,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Michael Bay,Bruce Willis,Billy Bob Thornton,https://pro.imdb.com/title/tt0120591
216,117998,/title/tt0117998/?ref_=bo_cso_table_17,217,Twister,"$494,471,524","$241,721,524",48.9%,"$252,750,000",51.1%,1996,"$41,059,405",NaN,0,Action\n \n Adventure\n \n ...,Warner Bros.,Jan de Bont,Helen Hunt,Bill Paxton,https://pro.imdb.com/title/tt0117998
257,120855,/title/tt0120855/?ref_=bo_cso_table_58,258,Tarzan,"$448,191,819","$171,091,819",38.2%,"$277,100,000",61.8%,1999,"$34,221,968",G,0,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Chris Buck,Tony Goldwyn,Minnie Driver,https://pro.imdb.com/title/tt0120855
283,99348,/title/tt0099348/?ref_=bo_cso_table_84,284,Dances with Wolves,"$424,208,848","$184,208,848",43.4%,"$240,000,000",56.6%,1990,"$598,257",NaN,0,Adventure\n \n Drama\n \n ...,Orion Pictures,Kevin Costner,Kevin Costner,Mary McDonnell,https://pro.imdb.com/title/tt0099348
315,102798,/title/tt0102798/?ref_=bo_cso_table_116,316,Robin Hood: Prince of Thieves,"$390,493,908","$165,493,908",42.4%,"$225,000,000",57.6%,1991,"$25,625,602",NaN,0,Action\n \n Adventure\n \n ...,Warner Bros.,Kevin Reynolds,Kevin Costner,Morgan Freeman,https://pro.imdb.com/title/tt0102798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,134067,/title/tt0134067/?ref_=bo_cso_table_186,"1,205",The Rugrats Movie,"$140,894,675","$100,494,675",71.3%,"$40,400,000",28.7%,1998,"$27,321,470",NaN,0,Adventure\n \n Animation\n \n ...,Paramount Pictures,Igor Kovalyov,Elizabeth Daily,Christine Cavanaugh,https://pro.imdb.com/title/tt0134067
1184,118972,/title/tt0118972/?ref_=bo_cso_table_187,"1,206",The Devil's Own,"$140,807,547","$42,868,348",30.4%,"$97,939,199",69.6%,1997,"$14,274,503",R,0,Action\n \n Crime\n \n Dra...,Sony Pictures Entertainment (SPE),Alan J. Pakula,Harrison Ford,Brad Pitt,https://pro.imdb.com/title/tt0118972
1190,108185,/title/tt0108185/?ref_=bo_cso_table_193,"1,212",Sommersby,"$140,081,992","$50,081,992",35.8%,"$90,000,000",64.2%,1993,"$8,104,624",PG-13,0,Drama\n \n Mystery\n \n Ro...,Warner Bros.,Jon Amiel,Richard Gere,Jodie Foster,https://pro.imdb.com/title/tt0108185
1192,118617,/title/tt0118617/?ref_=bo_cso_table_195,"1,214",Anastasia,"$139,804,348","$58,406,347",41.8%,"$81,398,001",58.2%,1997,"$120,541",NaN,0,Adventure\n \n Animation\n \n ...,Twentieth Century Fox,Don Bluth,Meg Ryan,John Cusack,https://pro.imdb.com/title/tt0118617
1197,99141,/title/tt0099141/?ref_=bo_cso_table_200,"1,219",Bird on a Wire,"$138,697,012","$70,978,012",51.2%,"$67,719,000",48.8%,1990,"$15,338,160",NaN,0,Action\n \n Comedy,Universal Pictures,John Badham,Mel Gibson,Goldie Hawn,https://pro.imdb.com/title/tt0099141

In [17]:
foreign_mask = (clean_df['foreign_market_count'] == '0') & (clean_df['Foreign_Gross'] < '$100000')

In [18]:
clean_df.dtypes

id                         int64
URL                       object
Rank                      object
Title                     object
World_Gross               object
Domestic_Gross            object
Domestic_Percentage       object
Foreign_Gross             object
Foreign_Percentage        object
Year                       int64
domestic_opening_gross    object
rating                    object
foreign_market_count      object
genres                    object
distributor               object
director                  object
actor_1                   object
actor_2                   object
IMDB_link                 object
dtype: object

In [28]:
clean_df['Foreign_Gross_Clean'] = clean_df['Foreign_Gross'].astype('|S')

In [34]:
clean_df['Foreign_Gross_Clean'] = clean_df['Foreign_Gross_Clean'].replace("$", "").replace(",", "")

TypeError: Cannot use .str.replace with values of inferred dtype 'bytes'.

In [33]:
clean_df['Foreign_Gross_Clean']

0       b'$1,939,427,564'
1       b'$2,029,931,467'
2       b'$1,535,805,925'
3       b'$1,131,561,811'
4       b'$1,369,544,272'
              ...
1193       b'$77,810,085'
1194       b'$76,052,538'
1195      b'$137,775,895'
1196       b'$78,751,301'
1197       b'$67,719,000'
Name: Foreign_Gross_Clean, Length: 1198, dtype: bytes112

In [31]:
clean_df.dtypes

id                         int64
URL                       object
Rank                      object
Title                     object
World_Gross               object
Domestic_Gross            object
Domestic_Percentage       object
Foreign_Gross             object
Foreign_Percentage        object
Year                       int64
domestic_opening_gross    object
rating                    object
foreign_market_count      object
genres                    object
distributor               object
director                  object
actor_1                   object
actor_2                   object
IMDB_link                 object
Foreign_Gross_Clean         |S14
dtype: object

In [47]:
clean_df.isnull().sum()

id                          0
URL                         0
Rank                        0
Title                       0
World_Gross                 0
Domestic_Gross              0
Domestic_Percentage         0
Foreign_Gross               0
Foreign_Percentage          0
Year                        0
domestic_opening_gross     12
rating                    132
foreign_market_count        0
genres                      0
distributor                 0
director                    0
actor_1                     0
actor_2                     0
IMDB_link                   0
Foreign_Gross_Clean         0
dtype: int64

In [48]:
#several movies missing domestic gross but other values look good
clean_df[clean_df.domestic_opening_gross.isnull()]

,id,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,IMDB_link,Foreign_Gross_Clean
252,7362036,/title/tt7362036/?ref_=bo_cso_table_53,253,Dying to Survive,"$451,183,391","$6,752",-,"$451,176,639",100%,2018,NaN,NaN,Ch,Comedy\n \n Drama,"July 5, 2018\n (China)",Muye Wen,Zheng Xu,Yiwei Zhou,https://pro.imdb.com/title/tt7362036,"b'$451,176,639'"
265,70047,/title/tt0070047/?ref_=bo_cso_table_66,266,The Exorcist,"$441,306,145","$232,906,145",52.8%,"$208,400,000",47.2%,1973,NaN,R,Do,Horror,Warner Bros.,William Friedkin,Ellen Burstyn,Max von Sydow,https://pro.imdb.com/title/tt0070047,"b'$208,400,000'"
306,31381,/title/tt0031381/?ref_=bo_cso_table_107,307,Gone with the Wind,"$402,352,579","$200,852,579",49.9%,"$201,500,000",50.1%,1939,NaN,NaN,Do,Drama\n \n History\n \n Ro...,Metro-Goldwyn-Mayer (MGM),Victor Fleming,Clark Gable,Vivien Leigh,https://pro.imdb.com/title/tt0031381,"b'$201,500,000'"
475,75860,/title/tt0075860/?ref_=bo_cso_table_76,479,Close Encounters of the Third Kind,"$306,899,494","$135,189,114",44%,"$171,710,380",56%,1977,NaN,NaN,Do,Drama\n \n Sci-Fi,Columbia Pictures,Steven Spielberg,Richard Dreyfuss,François Truffaut,https://pro.imdb.com/title/tt0075860,"b'$171,710,380'"
564,34492,/title/tt0034492/?ref_=bo_cso_table_165,568,Bambi,"$267,447,150","$102,247,150",38.2%,"$165,200,000",61.8%,1942,NaN,G,Do,Animation\n \n Drama\n \n ...,RKO Radio Pictures,James Algar,Hardie Albright,Stan Alexander,https://pro.imdb.com/title/tt0034492,"b'$165,200,000'"
578,1013743,/title/tt1013743/?ref_=bo_cso_table_179,582,Knight and Day,"$261,989,769","$76,423,035",29.2%,"$185,566,734",70.8%,2008,NaN,PG-13,So,Action\n \n Adventure\n \n ...,"<span class=""money"">$117,000,000</span>",James Mangold,Tom Cruise,Cameron Diaz,https://pro.imdb.com/title/tt1013743,"b'$185,566,734'"
596,5052448,/title/tt5052448/?ref_=bo_cso_table_198,602,Get Out,"$255,429,395","$176,040,665",68.9%,"$79,388,730",31.1%,2016,NaN,R,3,Horror\n \n Mystery\n \n T...,"<span class=""money"">$4,500,000</span>",Jordan Peele,Daniel Kaluuya,Allison Williams,https://pro.imdb.com/title/tt5052448,"b'$79,388,730'"
737,55254,/title/tt0055254/?ref_=bo_cso_table_139,745,One Hundred and One Dalmatians,"$216,026,182","$144,880,014",67.1%,"$71,146,168",32.9%,1961,NaN,NaN,Do,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Clyde Geronimi,Rod Taylor,Betty Lou Gerson,https://pro.imdb.com/title/tt0055254,"b'$71,146,168'"
770,61852,/title/tt0061852/?ref_=bo_cso_table_172,778,The Jungle Book,"$210,310,084","$141,843,612",67.4%,"$68,466,472",32.6%,1967,NaN,G,Do,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,https://pro.imdb.com/title/tt0061852,"b'$68,466,472'"
880,29583,/title/tt0029583/?ref_=bo_cso_table_82,892,Snow White and the Seven Dwarfs,"$184,925,486","$184,925,486",100%,$0,-,1937,NaN,Approved,Do,Animation\n \n Family\n \n ...,Walt Disney Studios Motion Pictures,William Cottrell,Adriana Caselotti,Harry Stockwell,https://pro.imdb.com/title/tt0029583,b'$0'
1053,59742,/title/tt0059742/?ref_=bo_cso_table_55,"1,071",The Sound of Music,"$159,423,073","$159,287,539",99.9%,"$135,534",<0.1%,1965,NaN,NaN,Do,Biography\n \n Drama\n \n ...,Twentieth Century Fox,Robert Wise,Julie Andrews,Christopher Plummer,https://pro.imdb.com/title/tt0059742,"b'$135,534'"
1078,70735,/title/tt0070735/?ref_=bo_cso_table_80,"1,096",The Sting,"$156,000,000","$156,000,000",100%,$0,-,1973,NaN,NaN,0,Comedy\n \n Crime\n \n Drama,Universal Pictures,George Roy Hill,Paul Newman,Robert Redford,https://pro.imdb.com/title/tt0070735,b'$0'

In [41]:
#several movies missing ratings but other values look good

clean_df[clean_df.rating.isnull()]

,id,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,IMDB_link,Foreign_Gross_Clean
33,435761,/title/tt0435761/?ref_=bo_cso_table_34,34,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010,"$110,307,189",NaN,59,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Lee Unkrich,Tom Hanks,Tim Allen,https://pro.imdb.com/title/tt0435761,"b'$651,964,823'"
58,266543,/title/tt0266543/?ref_=bo_cso_table_59,59,Finding Nemo,"$940,350,194","$380,843,261",40.5%,"$559,506,933",59.5%,2003,"$70,251,710",NaN,29,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Andrew Stanton,Albert Brooks,Ellen DeGeneres,https://pro.imdb.com/title/tt0266543,"b'$559,506,933'"
72,7131870,/title/tt7131870/?ref_=bo_cso_table_73,73,Wolf Warrior 2,"$870,325,439","$2,721,100",0.3%,"$867,604,339",99.7%,2017,"$219,022",NaN,6,Action\n \n Adventure\n \n ...,The H Collective,Jing Wu,Jing Wu,Frank Grillo,https://pro.imdb.com/title/tt7131870,"b'$867,604,339'"
102,6806448,/title/tt6806448/?ref_=bo_cso_table_103,103,Fast & Furious Presents: Hobbs & Shaw,"$759,056,935","$173,956,935",22.9%,"$585,100,000",77.1%,2019,"$60,038,950",NaN,65,Action\n \n Adventure\n \n ...,Universal Pictures,David Leitch,Dwayne Johnson,Jason Statham,https://pro.imdb.com/title/tt6806448,"b'$585,100,000'"
114,10627720,/title/tt10627720/?ref_=bo_cso_table_115,115,Ne Zha,"$726,063,471","$3,695,533",0.5%,"$722,367,938",99.5%,2019,"$1,015,755",NaN,6,Action\n \n Adventure\n \n ...,Well Go USA Entertainment,Yu Yang,Yanting Lü,Joseph,https://pro.imdb.com/title/tt10627720,"b'$722,367,938'"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,95016,/title/tt0095016/?ref_=bo_cso_table_179,"1,198",Die Hard,"$141,482,299","$83,519,093",59%,"$57,963,206",41%,1988,"$601,851",NaN,41,Action\n \n Thriller,Twentieth Century Fox,John McTiernan,Bruce Willis,Alan Rickman,https://pro.imdb.com/title/tt0095016,"b'$57,963,206'"
1183,134067,/title/tt0134067/?ref_=bo_cso_table_186,"1,205",The Rugrats Movie,"$140,894,675","$100,494,675",71.3%,"$40,400,000",28.7%,1998,"$27,321,470",NaN,0,Adventure\n \n Animation\n \n ...,Paramount Pictures,Igor Kovalyov,Elizabeth Daily,Christine Cavanaugh,https://pro.imdb.com/title/tt0134067,"b'$40,400,000'"
1192,118617,/title/tt0118617/?ref_=bo_cso_table_195,"1,214",Anastasia,"$139,804,348","$58,406,347",41.8%,"$81,398,001",58.2%,1997,"$120,541",NaN,0,Adventure\n \n Animation\n \n ...,Twentieth Century Fox,Don Bluth,Meg Ryan,John Cusack,https://pro.imdb.com/title/tt0118617,"b'$81,398,001'"
1195,4701702,/title/tt4701702/?ref_=bo_cso_table_198,"1,217",Mr. Six,"$139,191,345","$1,415,450",1%,"$137,775,895",99%,2015,"$332,117",NaN,6,Action\n \n Drama,China Lion Film Distribution,Hu Guan,Xiaogang Feng,Hanyu Zhang,https://pro.imdb.com/title/tt4701702,"b'$137,775,895'"
1197,99141,/title/tt0099141/?ref_=bo_cso_table_200,"1,219",Bird on a Wire,"$138,697,012","$70,978,012",51.2%,"$67,719,000",48.8%,1990,"$15,338,160",NaN,0,Action\n \n Comedy,Universal Pictures,John Badham,Mel Gibson,Goldie Hawn,https://pro.imdb.com/title/tt0099141,"b'$67,719,000'"

In [52]:
clean_df.Year.value_counts().sum

<bound method Series.sum of 2016    64
2017    61
2011    58
2019    55
2014    53
2013    52
2015    51
2012    51
2008    50
2018    50
2010    49
2007    43
2009    42
2003    42
2004    38
2006    38
2005    34
2001    34
2002    33
2000    30
1999    30
1998    28
1997    27
1996    24
1995    21
1994    17
1992    16
1990    15
1993    14
1989    13
1991    12
1988     9
2020     7
1987     4
1978     4
1985     4
1984     4
1977     3
1982     2
1986     2
1973     2
1981     1
1980     1
1979     1
1983     1
1975     1
1972     1
1967     1
1965     1
1961     1
1942     1
1939     1
1937     1
Name: Year, dtype: int64>

In [63]:
two_decades = clean_df['Year'] > 2000

In [117]:
#limiting my sample to last 2 decades of movies
clean_df = clean_df[two_decades]

<ipython-input-117-3c541a9ed6ed>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[two_decades]

In [78]:
#rank column is no longer meaningful
#let's delete it
del clean_df['Rank']

In [79]:
#since we already have our unique movie id for all urls, we no longer need URL and IMDB_link columns
#let's delete
del clean_df['URL']
del clean_df['IMDB_link']

In [80]:
clean_df.columns

Index(['id', 'Title', 'World_Gross', 'Domestic_Gross', 'Domestic_Percentage',
       'Foreign_Gross', 'Foreign_Percentage', 'Year', 'domestic_opening_gross',
       'rating', 'foreign_market_count', 'genres', 'distributor', 'director',
       'actor_1', 'actor_2', 'Foreign_Gross_Clean'],
      dtype='object')

In [118]:
clean_df.shape

(905, 17)

In [81]:
clean_df.distributor.value_counts().sum
#Going through this list, we see a number of non-domestic distribution companies
#along with several that didn't list distribution companies 
#China Lion Film Distribution 
#Well Go USA Entertainment 
#CMC Pictures 
#Great India Films
#<span class="money">$117,000,000</span>
#July 5, 2018\n            (China)
#<span class="money">$4,500,000</span>
#UTV Motion Pictures - indian but owned by disney-- need more info

<bound method Series.sum of Warner Bros.                               148
Walt Disney Studios Motion Pictures        130
Universal Pictures                         122
Twentieth Century Fox                      122
Sony Pictures Entertainment (SPE)          106
Paramount Pictures                          74
Lionsgate                                   32
DreamWorks                                  23
Miramax                                     14
DreamWorks Distribution                     13
Well Go USA Entertainment                   12
New Line Cinema                             12
The Weinstein Company                        9
Screen Gems                                  9
China Lion Film Distribution                 8
Fox Searchlight Pictures                     8
Revolution Studios                           7
Summit Entertainment                         7
Focus Features                               5
Dimension Films                              5
Metro-Goldwyn-Mayer (MGM)                    5
STX Entertainment                            4
TriStar Pictures                             4
CMC Pictures                                 3
Relativity Media                             3
FilmDistrict                                 2
The H Collective                             1
CMC Pictures Holdings                        1
Newmarket Films                              1
Sony Pictures Classics                       1
<span class="money">$117,000,000</span>      1
GKIDS                                        1
Magnolia Pictures                            1
AMC Theaters                                 1
United Artists                               1
UTV Motion Pictures                          1
United Artists Releasing                     1
FilmRise                                     1
July 5, 2018\n            (China)            1
Neon                                         1
IFC Films                                    1
Great India Films                            1
<span class="money">$4,500,000</span>        1
FUNimation Entertainment                     1
Name: distributor, dtype: int64>

In [121]:
value_list = ['China Lion Film Distribution', 
'Well Go USA Entertainment', 
'CMC Pictures', 
'Great India Films',
'<span class="money">$117,000,000</span>',
'July 5, 2018\n            (China)',
'<span class="money">$4,500,000</span>'
'UTV Motion Pictures']

foreign_distributors = clean_df.distributor.isin(value_list)

In [123]:
#we can confirm these are all foreign distributions
foreign_distributors_df = clean_df[foreign_distributors]
foreign_distributors_df.shape

(26, 17)

In [124]:
foreign_distributor_index = list(foreign_distributors_df.index)
foreign_distributor_index

[114,
 123,
 170,
 252,
 254,
 286,
 470,
 578,
 588,
 592,
 599,
 685,
 691,
 699,
 821,
 845,
 857,
 859,
 941,
 955,
 1070,
 1071,
 1103,
 1164,
 1172,
 1195]

In [128]:
#drop foreign distributors
clean_df = clean_df.drop(foreign_distributor_index)

In [129]:
clean_df

,id,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Foreign_Gross_Clean
0,4154796,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019,"$357,115,007",PG-13,56,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Evans,"b'$1,939,427,564'"
1,499549,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009,"$77,025,481",PG-13,77,Action\n \n Adventure\n \n ...,Twentieth Century Fox,James Cameron,Sam Worthington,Zoe Saldana,"b'$2,029,931,467'"
3,2488496,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015,"$247,966,675",PG-13,62,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,J.J. Abrams,Daisy Ridley,John Boyega,"b'$1,131,561,811'"
4,4154756,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018,"$257,698,183",PG-13,54,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Hemsworth,"b'$1,369,544,272'"
5,369610,Jurassic World,"$1,670,401,444","$652,270,625",39%,"$1,018,130,819",61%,2015,"$208,806,270",PG-13,66,Action\n \n Adventure\n \n ...,Universal Pictures,Colin Trevorrow,Chris Pratt,Bryce Dallas Howard,"b'$1,018,130,819'"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,3741834,Lion,"$140,312,928","$51,738,905",36.9%,"$88,574,023",63.1%,2016,"$123,360",PG-13,50,Biography\n \n Drama,The Weinstein Company,Garth Davis,Dev Patel,Nicole Kidman,"b'$88,574,023'"
1191,1219342,Legend of the Guardians: The Owls of Ga'Hoole,"$140,073,390","$55,675,313",39.8%,"$84,398,077",60.2%,2010,"$16,112,211",PG,56,Action\n \n Adventure\n \n ...,Warner Bros.,Zack Snyder,Jim Sturgess,Hugo Weaving,"b'$84,398,077'"
1193,780653,The Wolfman,"$139,789,765","$61,979,680",44.3%,"$77,810,085",55.7%,2010,"$31,479,235",R,58,Drama\n \n Fantasy\n \n Ho...,Universal Pictures,Joe Johnston,Benicio Del Toro,Anthony Hopkins,"b'$77,810,085'"
1194,890870,Saw IV,"$139,352,633","$63,300,095",45.4%,"$76,052,538",54.6%,2007,"$31,756,764",R,52,Horror\n \n Mystery\n \n T...,Lionsgate,Darren Lynn Bousman,Tobin Bell,Scott Patterson,"b'$76,052,538'"
1196,889583,Brüno,"$138,805,831","$60,054,530",43.3%,"$78,751,301",56.7%,2009,"$30,619,130",R,43,Comedy,Universal Pictures,Larry Charles,Sacha Baron Cohen,Gustaf Hammarsten,"b'$78,751,301'"

In [131]:
clean_df['Years_Since_Release'] = 2020-clean_df['Year']

In [132]:
clean_df.head()

,id,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Foreign_Gross_Clean,Years_Since_Release
0,4154796,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019,"$357,115,007",PG-13,56,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Evans,"b'$1,939,427,564'",1
1,499549,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009,"$77,025,481",PG-13,77,Action\n \n Adventure\n \n ...,Twentieth Century Fox,James Cameron,Sam Worthington,Zoe Saldana,"b'$2,029,931,467'",11
3,2488496,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015,"$247,966,675",PG-13,62,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,J.J. Abrams,Daisy Ridley,John Boyega,"b'$1,131,561,811'",5
4,4154756,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018,"$257,698,183",PG-13,54,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Hemsworth,"b'$1,369,544,272'",2
5,369610,Jurassic World,"$1,670,401,444","$652,270,625",39%,"$1,018,130,819",61%,2015,"$208,806,270",PG-13,66,Action\n \n Adventure\n \n ...,Universal Pictures,Colin Trevorrow,Chris Pratt,Bryce Dallas Howard,"b'$1,018,130,819'",5

In [133]:
clean_df.to_csv(r'/Users/juliaqiao/Documents/Metis/Project_2/clean_df.csv')

In [143]:
value_list = ['G', 'PG', 'PG-13', 'R', 'NC-17']

rating_mask = np.logical_not(clean_df.rating.isin(value_list))

#df[np.logical_not(df["column"].isin(["value"]))]

In [144]:
# a few movies don't have ratings on their movie title pages but that's okay, we will keep them for now
clean_df[rating_mask]

,id,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Foreign_Gross_Clean,Years_Since_Release
33,435761,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010,"$110,307,189",NaN,59,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Lee Unkrich,Tom Hanks,Tim Allen,"b'$651,964,823'",10
58,266543,Finding Nemo,"$940,350,194","$380,843,261",40.5%,"$559,506,933",59.5%,2003,"$70,251,710",NaN,29,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Andrew Stanton,Albert Brooks,Ellen DeGeneres,"b'$559,506,933'",17
72,7131870,Wolf Warrior 2,"$870,325,439","$2,721,100",0.3%,"$867,604,339",99.7%,2017,"$219,022",NaN,6,Action\n \n Adventure\n \n ...,The H Collective,Jing Wu,Jing Wu,Frank Grillo,"b'$867,604,339'",3
102,6806448,Fast & Furious Presents: Hobbs & Shaw,"$759,056,935","$173,956,935",22.9%,"$585,100,000",77.1%,2019,"$60,038,950",NaN,65,Action\n \n Adventure\n \n ...,Universal Pictures,David Leitch,Dwayne Johnson,Jason Statham,"b'$585,100,000'",1
144,317705,The Incredibles,"$631,606,713","$261,441,092",41.4%,"$370,165,621",58.6%,2004,"$70,467,623",NaN,50,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Brad Bird,Craig T. Nelson,Samuel L. Jackson,"b'$370,165,621'",16
205,910970,WALL·E,"$521,311,860","$223,808,164",42.9%,"$297,503,696",57.1%,2008,"$63,087,526",NaN,62,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Andrew Stanton,Ben Burtt,Elissa Knight,"b'$297,503,696'",12
245,317219,Cars,"$461,991,867","$244,082,982",52.8%,"$217,908,885",47.2%,2006,"$60,119,509",NaN,42,Animation\n \n Comedy\n \n ...,Walt Disney Studios Motion Pictures,John Lasseter,Owen Wilson,Bonnie Hunt,"b'$217,908,885'",14
264,7294150,The Eight Hundred,"$441,654,352","$331,279",<0.1%,"$441,323,073",99.9%,2020,"$118,161",NaN,4,War,CMC Pictures Holdings,Hu Guan,Zhi-zhong Huang,Zhang Junyi,"b'$441,323,073'",0
320,3781476,Monster Hunt,"$387,053,506","$32,766",<0.1%,"$387,020,740",100%,2015,"$21,074",NaN,12,Adventure\n \n Comedy\n \n ...,FilmRise,Raman Hui,Baihe Bai,Boran Jing,"b'$387,020,740'",5
367,6170484,Monster Hunt 2,"$361,682,618","$706,153",0.2%,"$360,976,465",99.8%,2018,"$341,834",NaN,8,Adventure\n \n Comedy\n \n ...,Lionsgate,Raman Hui,Tony Chiu-Wai Leung,Baihe Bai,"b'$360,976,465'",2
458,338348,The Polar Express,"$313,500,433","$187,224,490",59.7%,"$126,275,943",40.3%,2004,"$23,323,463",NaN,42,Adventure\n \n Animation\n \n ...,Warner Bros.,Robert Zemeckis,Tom Hanks,Chris Coppola,"b'$126,275,943'",16
483,5074352,Dangal,"$303,723,636","$12,391,761",4.1%,"$291,331,875",95.9%,2016,"$3,248,481",NaN,11,Action\n \n Biography\n \n ...,UTV Motion Pictures,Nitesh Tiwari,Aamir Khan,Sakshi Tanwar,"b'$291,331,875'",4
501,451079,Horton Hears a Who!,"$298,572,799","$154,529,439",51.8%,"$144,043,360",48.2%,2008,"$45,012,998",NaN,74,Adventure\n \n Animation\n \n ...,Twentieth Century Fox,Jimmy Hayward,Jim Carrey,Steve Carell,"b'$144,043,360'",12
565,780521,The Princess and the Frog,"$267,045,765","$104,400,899",39.1%,"$162,644,866",60.9%,2009,"$786,190",NaN,58,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Ron Clements,Anika Noni Rose,Keith David,"b'$162,644,866'",11
612,328880,Brother Bear,"$250,397,798","$85,336,277",34.1%,"$165,061,521",65.9%,2003,"$291,940",NaN,28,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Aaron Blaise,Joaquin Phoenix,Jeremy Suarez,"b'$165,061,521'",17
801,876563,Ponyo,"$203,204,882","$15,743,471",7.8%,"$187,461,411",92.2%,2008,"$3,585,852",NaN,33,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Hayao Miyazaki,Cate Blanchett,Matt Damon,"b'$187,461,411'",12
823,2459022,Lost in Thailand,"$197,757,387","$57,387",<0.1%,"$197,700,000",100%,2012,"$32,206",NaN,4,Adventure\n \n Comedy\n \n ...,AMC Theaters,Zheng Xu,Zheng Xu,Baoqiang Wang,"b'$197,700,000'",8
840,312004,Wallace & Gromit: The Curse of the Were-Rabbit,"$194,111,171","$56,110,897",28.9%,"$138,000,274",71.1%,2005,"$16,025,987",NaN,60,Adventure\n \n Animation\n \n ...,DreamWorks Distribution,Steve Box,Peter Sallis,Helena Bonham Carter,"b'$138,000,274'",15
841,377981,Gnomeo & Juliet,"$193,967,670","$99,967,670",51.5%,"$94,000,000",48.5%,2011,"$25,356,909",NaN,47,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Kelly Asbury,James McAvoy,Emily Blunt,"b'$94,000,000'",9
870,283426,The Jungle Book 2,"$186,303,759","$47,901,582",25.7%,"$138,402,177",74.3%,2003,"$11,441,733",NaN,11,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Steve Trenbirth,John Goodman,Haley Joel Osment,"b'$138,402,177'",17
964,304669,The Santa Clause 2,"$172,855,065","$139,236,327",80.6%,"$33,618,738",19.4%,2002,"$29,008,696",NaN,20,Comedy\n \n Family\n \n Fa...,Walt Disney Studios Motion Pictures,Michael Lembeck,Tim Allen,Spencer Breslin,"b'$33,618,738'",18
1082,1114677,Hannah Montana: The Movie,"$155,545,279","$79,576,189",51.2%,"$75,969,090",48.8%,2009,"$32,324,487",NaN,55,Comedy\n \n Drama\n \n Fam...,Walt Disney Studios Motion Pictures,Peter Chelsom,Miley Cyrus,Emily Osment,"b'$75,969,090'",11
1129,1568921,The Secret World of Arrietty,"$149,184,563","$19,587,032",13.1%,"$129,597,531",86.9%,2010,"$6,446,395",NaN,23,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Hiromasa Yonebayashi,Bridgit Mendler,Amy Poehler,"b'$129,597,531'",10
1159,400497,Herbie Fully Loaded,"$144,146,816","$66,023,816",45.8%,"$78,123,000",54.2%,2005,"$12,709,221",NaN,39,Adventure\n \n Comedy\n \n ...,Walt Disney Studios Motion Pictures,Angela Robinson,Lindsay Lohan,Michael Keaton,"b'$78,123,000'",15
1171,250494,Legally Blonde,"$141,774,679","$96,520,674",68.1%,"$45,254,005",31.9%,2001,"$20,377,426",NaN,17,Comedy\n \n Romance,Metro-Goldwyn-Mayer (MGM),Robert Luketic,Reese Witherspoon,Luke Wilson,"b'$45,254,005'",19

In [145]:
clean_df.dtypes

id                         int64
Title                     object
World_Gross               object
Domestic_Gross            object
Domestic_Percentage       object
Foreign_Gross             object
Foreign_Percentage        object
Year                       int64
domestic_opening_gross    object
rating                    object
foreign_market_count      object
genres                    object
distributor               object
director                  object
actor_1                   object
actor_2                   object
Foreign_Gross_Clean         |S14
Years_Since_Release        int64
dtype: object

In [154]:
clean_df.isnull().sum()

id                         0
Title                      0
World_Gross                0
Domestic_Gross             0
Domestic_Percentage        0
Foreign_Gross              0
Foreign_Percentage         0
Year                       0
domestic_opening_gross     1
rating                    25
foreign_market_count       0
genres                     0
distributor                0
director                   0
actor_1                    0
actor_2                    0
Foreign_Gross_Clean        0
Years_Since_Release        0
dtype: int64

In [155]:
clean_df.sample(20)

,id,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Foreign_Gross_Clean,Years_Since_Release
447,3065204,The Conjuring 2,"$320,392,818","$102,470,008",32%,"$217,922,810",68%,2016,"$40,406,314",R,41,Horror\n \n Mystery\n \n T...,Warner Bros.,James Wan,Vera Farmiga,Patrick Wilson,"b'$217,922,810'",4
651,1691917,Planes,"$239,258,712","$90,288,712",37.7%,"$148,970,000",62.3%,2013,"$22,232,291",PG,52,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Klay Hall,Carlos Alazraqui,Dane Cook,"b'$148,970,000'",7
989,396555,Meet the Robinsons,"$169,333,034","$97,822,171",57.8%,"$71,510,863",42.2%,2007,"$25,123,781",G,62,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Stephen J. Anderson,Daniel Hansen,Wesley Singerman,"b'$71,510,863'",13
1186,1700841,Sausage Party,"$140,705,322","$97,685,686",69.4%,"$43,019,636",30.6%,2016,"$34,263,534",R,49,Adventure\n \n Animation\n \n ...,Sony Pictures Entertainment (SPE),Greg Tiernan,Seth Rogen,Kristen Wiig,"b'$43,019,636'",4
950,2024432,Identity Thief,"$173,965,010","$134,506,920",77.3%,"$39,458,090",22.7%,2013,"$34,551,025",R,47,Comedy\n \n Crime\n \n Drama,Universal Pictures,Seth Gordon,Jason Bateman,Melissa McCarthy,"b'$39,458,090'",7
698,2239822,Valerian and the City of a Thousand Planets,"$225,874,228","$41,189,488",18.2%,"$184,684,740",81.8%,2017,"$17,007,624",PG-13,63,Action\n \n Adventure\n \n ...,STX Entertainment,Luc Besson,Dane DeHaan,Cara Delevingne,"b'$184,684,740'",3
633,2120120,Pixels,"$244,874,809","$78,747,585",32.2%,"$166,127,224",67.8%,2015,"$24,011,616",PG-13,67,Action\n \n Comedy\n \n Fa...,Sony Pictures Entertainment (SPE),Chris Columbus,Adam Sandler,Kevin James,"b'$166,127,224'",5
372,181689,Minority Report,"$358,372,926","$132,072,926",36.8%,"$226,300,000",63.2%,2002,"$35,677,125",PG-13,28,Action\n \n Crime\n \n Mys...,Twentieth Century Fox,Steven Spielberg,Tom Cruise,Colin Farrell,"b'$226,300,000'",18
69,1667889,Ice Age: Continental Drift,"$877,244,782","$161,321,843",18.4%,"$715,922,939",81.6%,2012,"$46,629,259",PG,55,Adventure\n \n Animation\n \n ...,Twentieth Century Fox,Steve Martino,Ray Romano,Denis Leary,"b'$715,922,939'",8
71,2975590,Batman v Superman: Dawn of Justice,"$873,637,528","$330,360,194",37.8%,"$543,277,334",62.2%,2016,"$166,007,347",PG-13,64,Action\n \n Adventure\n \n ...,Warner Bros.,Zack Snyder,Ben Affleck,Henry Cavill,"b'$543,277,334'",4
169,1677720,Ready Player One,"$582,893,671","$137,690,172",23.6%,"$445,203,499",76.4%,2018,"$41,764,050",PG-13,42,Action\n \n Adventure\n \n ...,Warner Bros.,Steven Spielberg,Tye Sheridan,Olivia Cooke,"b'$445,203,499'",2
558,1723121,We're the Millers,"$269,994,119","$150,394,119",55.7%,"$119,600,000",44.3%,2012,"$26,419,396",R,50,Comedy\n \n Crime,Warner Bros.,Rawson Marshall Thurber,Jason Sudeikis,Jennifer Aniston,"b'$119,600,000'",8
846,1179904,Paranormal Activity,"$193,355,800","$107,918,810",55.8%,"$85,436,990",44.2%,2009,"$77,873",R,49,Horror\n \n Mystery,Paramount Pictures,Oren Peli,Katie Featherston,Micah Sloat,"b'$85,436,990'",11
485,1440129,Battleship,"$303,025,485","$65,422,625",21.6%,"$237,602,860",78.4%,2012,"$25,534,825",PG-13,56,Action\n \n Adventure\n \n ...,Universal Pictures,Peter Berg,Alexander Skarsgård,Brooklyn Decker,"b'$237,602,860'",8
1145,244244,Swordfish,"$147,080,413","$69,772,969",47.4%,"$77,307,444",52.6%,2001,"$18,145,632",R,13,Action\n \n Crime\n \n Thr...,Warner Bros.,Dominic Sena,John Travolta,Hugh Jackman,"b'$77,307,444'",19
347,438488,Terminator Salvation,"$371,353,001","$125,322,469",33.8%,"$246,030,532",66.2%,2009,"$42,558,390",PG-13,73,Action\n \n Adventure\n \n ...,Warner Bros.,McG,Christian Bale,Sam Worthington,"b'$246,030,532'",11
17,3606756,Incredibles 2,"$1,242,805,359","$608,581,744",49%,"$634,223,615",51%,2018,"$182,687,905",PG,53,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Brad Bird,Craig T. Nelson,Holly Hunter,"b'$634,223,615'",2
264,7294150,The Eight Hundred,"$441,654,352","$331,279",<0.1%,"$441,323,073",99.9%,2020,"$118,161",NaN,4,War,CMC Pictures Holdings,Hu Guan,Zhi-zhong Huang,Zhang Junyi,"b'$441,323,073'",0
780,232500,The Fast and the Furious,"$207,301,509","$144,533,925",69.7%,"$62,767,584",30.3%,2001,"$40,089,015",PG-13,15,Action\n \n Crime\n \n Thr...,Universal Pictures,Rob Cohen,Vin Diesel,Paul Walker,"b'$62,767,584'",19
1067,5503686,Hustlers,"$157,563,598","$104,963,598",66.6%,"$52,600,000",33.4%,2019,"$33,181,361",R,30,Comedy\n \n Crime\n \n Dra...,STX Entertainment,Lorene Scafaria,Constance Wu,Jennifer Lopez,"b'$52,600,000'",1

In [146]:
#clean_df['Foreign_Gross_Clean'] = clean_df['Foreign_Gross'].astype('|S')
clean_df['Foreign_Gross_Clean'] = clean_df['Foreign_Gross_Clean'].replace("$", "").replace(",", "")

In [147]:
clean_df['Foreign_Gross_Clean']

0       b'$1,939,427,564'
1       b'$2,029,931,467'
3       b'$1,131,561,811'
4       b'$1,369,544,272'
5       b'$1,018,130,819'
              ...
1189       b'$88,574,023'
1191       b'$84,398,077'
1193       b'$77,810,085'
1194       b'$76,052,538'
1196       b'$78,751,301'
Name: Foreign_Gross_Clean, Length: 879, dtype: bytes112

In [157]:
clean_df["Domestic_Percentage_Clean"] = clean_df.Domestic_Percentage.astype(str)

In [186]:
clean_df.head()

,id,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Foreign_Gross_Clean,Years_Since_Release
0,4154796,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019,"$357,115,007",PG-13,56,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Evans,"b'$1,939,427,564'",1
1,499549,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009,"$77,025,481",PG-13,77,Action\n \n Adventure\n \n ...,Twentieth Century Fox,James Cameron,Sam Worthington,Zoe Saldana,"b'$2,029,931,467'",11
3,2488496,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015,"$247,966,675",PG-13,62,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,J.J. Abrams,Daisy Ridley,John Boyega,"b'$1,131,561,811'",5
4,4154756,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018,"$257,698,183",PG-13,54,Action\n \n Adventure\n \n ...,Walt Disney Studios Motion Pictures,Anthony Russo,Robert Downey Jr.,Chris Hemsworth,"b'$1,369,544,272'",2
5,369610,Jurassic World,"$1,670,401,444","$652,270,625",39%,"$1,018,130,819",61%,2015,"$208,806,270",PG-13,66,Action\n \n Adventure\n \n ...,Universal Pictures,Colin Trevorrow,Chris Pratt,Bryce Dallas Howard,"b'$1,018,130,819'",5

In [193]:
clean_df["Domestic_Percentage_Clean"] = clean_df["Domestic_Percentage"].apply(lambda x: x.strip('%'))

In [178]:
#clean_df["Domestic_Percentage_Clean"] = clean_df["Domestic_Percentage_Clean"].astype(float)

In [213]:
temp_df = clean_df.sort_values(by='Domestic_Percentage_Clean')

In [215]:
temp_df.head(20)

,id,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Foreign_Gross_Clean,Years_Since_Release,Domestic_Percentage_Clean
631,10218674,The Bravest,"$245,179,562","$290,217",0.1%,"$244,889,345",99.9%,2019,"$110,375",PG-13,6,Action\n \n Drama\n \n Family,Sony Pictures Entertainment (SPE),Tony Chan,Xiaoming Huang,Jiang Du,"b'$244,889,345'",1,0.1
367,6170484,Monster Hunt 2,"$361,682,618","$706,153",0.2%,"$360,976,465",99.8%,2018,"$341,834",NaN,8,Adventure\n \n Comedy\n \n ...,Lionsgate,Raman Hui,Tony Chiu-Wai Leung,Baihe Bai,"b'$360,976,465'",2,0.2
72,7131870,Wolf Warrior 2,"$870,325,439","$2,721,100",0.3%,"$867,604,339",99.7%,2017,"$219,022",NaN,6,Action\n \n Adventure\n \n ...,The H Collective,Jing Wu,Jing Wu,Frank Grillo,"b'$867,604,339'",3,0.3
186,7752454,Detective Chinatown 2,"$544,185,156","$1,983,984",0.4%,"$542,201,172",99.6%,2018,"$704,047",R,4,Action\n \n Comedy\n \n My...,Warner Bros.,Sicheng Chen,Haoran Liu,Baoqiang Wang,"b'$542,201,172'",2,0.4
617,5273624,Journey to the West: The Demons Strike Back,"$247,585,244","$880,346",0.4%,"$246,704,898",99.6%,2017,"$463,883",PG-13,10,Adventure\n \n Comedy\n \n ...,Sony Pictures Entertainment (SPE),Hark Tsui,Kris Wu,Kenny Lin,"b'$246,704,898'",3,0.4
179,4701660,The Mermaid,"$553,810,228","$3,232,685",0.6%,"$550,577,543",99.4%,2016,"$985,052",R,9,Comedy\n \n Drama\n \n Fan...,Sony Pictures Entertainment (SPE),Stephen Chow,Chao Deng,Show Lo,"b'$550,577,543'",4,0.6
373,5311514,Your Name.,"$357,986,087","$5,017,246",1.4%,"$352,968,841",98.6%,2016,"$1,813,781",PG,21,Animation\n \n Drama\n \n ...,FUNimation Entertainment,Makoto Shinkai,Ryûnosuke Kamiki,Mone Kamishiraishi,"b'$352,968,841'",4,1.4
269,803096,Warcraft,"$439,048,914","$47,365,290",10.8%,"$391,683,624",89.2%,2016,"$24,166,110",PG-13,66,Action\n \n Adventure\n \n ...,Universal Pictures,Duncan Jones,Travis Fimmel,Paula Patton,"b'$391,683,624'",4,10.8
762,1473832,Bridget Jones's Baby,"$211,952,420","$24,252,420",11.4%,"$187,700,000",88.6%,2016,"$8,571,785",R,61,Comedy\n \n Drama\n \n Rom...,Universal Pictures,Sharon Maguire,Renée Zellweger,Gemma Jones,"b'$187,700,000'",4,11.4
403,1293847,xXx: Return of Xander Cage,"$346,118,277","$44,898,413",13%,"$301,219,864",87%,2017,"$20,130,142",PG-13,55,Action\n \n Adventure\n \n ...,Paramount Pictures,D.J. Caruso,Vin Diesel,Donnie Yen,"b'$301,219,864'",3,13
1129,1568921,The Secret World of Arrietty,"$149,184,563","$19,587,032",13.1%,"$129,597,531",86.9%,2010,"$6,446,395",NaN,23,Adventure\n \n Animation\n \n ...,Walt Disney Studios Motion Pictures,Hiromasa Yonebayashi,Bridgit Mendler,Amy Poehler,"b'$129,597,531'",10,13.1
420,2034800,The Great Wall,"$334,933,831","$45,540,830",13.6%,"$289,393,001",86.4%,2016,"$18,469,620",PG-13,64,Action\n \n Adventure\n \n ...,Universal Pictures,Yimou Zhang,Matt Damon,Tian Jing,"b'$289,393,001'",4,13.6
674,453451,Mr. Bean's Holiday,"$232,225,908","$33,302,167",14.3%,"$198,923,741",85.7%,2007,"$9,889,780",G,68,Comedy\n \n Family,Universal Pictures,Steve Bendelack,Rowan Atkinson,Willem Dafoe,"b'$198,923,741'",13,14.3
473,6723592,Tenet,"$307,100,000","$45,100,000",14.7%,"$262,000,000",85.3%,2020,"$20,200,000",PG-13,31,Action\n \n Sci-Fi,Warner Bros.,Christopher Nolan,John David Washington,Robert Pattinson,"b'$262,000,000'",0,14.7
569,317198,Bridget Jones: The Edge of Reason,"$265,126,918","$40,226,215",15.2%,"$224,900,703",84.8%,2004,"$8,684,055",R,60,Comedy\n \n Drama\n \n Rom...,Universal Pictures,Beeban Kidron,Renée Zellweger,Colin Firth,"b'$224,900,703'",16,15.2
713,1981128,Geostorm,"$221,600,160","$33,700,160",15.2%,"$187,900,000",84.8%,2017,"$13,707,376",PG-13,41,Action\n \n Sci-Fi\n \n Th...,Warner Bros.,Dean Devlin,Gerard Butler,Jim Sturgess,"b'$187,900,000'",3,15.2
717,3062096,Inferno,"$220,021,259","$34,343,574",15.6%,"$185,677,685",84.4%,2016,"$14,860,425",PG-13,63,Action\n \n Adventure\n \n ...,Sony Pictures Entertainment (SPE),Ron Howard,Tom Hanks,Felicity Jones,"b'$185,677,685'",4,15.6
298,3416828,Ice Age: Collision Course,"$408,579,038","$64,063,008",15.7%,"$344,516,030",84.3%,2016,"$21,373,064",PG,53,Adventure\n \n Animation\n \n ...,Twentieth Century Fox,Mike Thurmeier,Ray Romano,Denis Leary,"b'$344,516,030'",4,15.7
1043,274166,Johnny English,"$160,466,000","$28,082,366",17.5%,"$132,383,634",82.5%,2003,"$9,134,085",PG,56,Action\n \n Adventure\n \n ...,Universal Pictures,Peter Howitt,Rowan Atkinson,John Malkovich,"b'$132,383,634'",17,17.5
649,1855325,Resident Evil: Retribution,"$240,159,255","$42,345,531",17.6%,"$197,813,724",82.4%,2012,"$21,052,227",R,52,Action\n \n Horror\n \n Sc...,Screen Gems,Paul W.S. Anderson,Milla Jovovich,Sienna Guillory,"b'$197,813,724'",8,17.6

In [220]:
#removing movies with fewer than 10% domestic gross 
drop_list = [631, 367, 72, 186, 617, 179, 373]
clean_df= clean_df.drop(drop_list)

In [221]:
clean_df.shape

(872, 19)

In [227]:
clean_df.to_csv(r'/Users/juliaqiao/Documents/Metis/Project_2/clean_with_ratings.csv')

In [228]:
#drop rows with no ratings
no_ratings = list(clean_df[clean_df.rating.isnull()].index)
clean_df= clean_df.drop(no_ratings)

In [229]:
clean_df.shape

(849, 19)

In [233]:
#drop rows with no domestic opening
no_domestic_opening = list(clean_df[clean_df.domestic_opening_gross.isnull()].index)
clean_df= clean_df.drop(no_domestic_opening)

In [234]:
clean_df.shape

(848, 19)

In [260]:
clean_df.head()

,id,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Foreign_Gross_Clean,Years_Since_Release,Domestic_Percentage_Clean,Is_Sequel
269,803096,Warcraft,"$439,048,914","$47,365,290",10.8%,"$391,683,624",89.2%,2016,"$24,166,110",PG-13,66,Action\n \n Adventure\n \n ...,Universal Pictures,Duncan Jones,Travis Fimmel,Paula Patton,"b'$391,683,624'",4,10.8,0
762,1473832,Bridget Jones's Baby,"$211,952,420","$24,252,420",11.4%,"$187,700,000",88.6%,2016,"$8,571,785",R,61,Comedy\n \n Drama\n \n Rom...,Universal Pictures,Sharon Maguire,Renée Zellweger,Gemma Jones,"b'$187,700,000'",4,11.4,1
403,1293847,xXx: Return of Xander Cage,"$346,118,277","$44,898,413",13%,"$301,219,864",87%,2017,"$20,130,142",PG-13,55,Action\n \n Adventure\n \n ...,Paramount Pictures,D.J. Caruso,Vin Diesel,Donnie Yen,"b'$301,219,864'",3,13,1
420,2034800,The Great Wall,"$334,933,831","$45,540,830",13.6%,"$289,393,001",86.4%,2016,"$18,469,620",PG-13,64,Action\n \n Adventure\n \n ...,Universal Pictures,Yimou Zhang,Matt Damon,Tian Jing,"b'$289,393,001'",4,13.6,0
674,453451,Mr. Bean's Holiday,"$232,225,908","$33,302,167",14.3%,"$198,923,741",85.7%,2007,"$9,889,780",G,68,Comedy\n \n Family,Universal Pictures,Steve Bendelack,Rowan Atkinson,Willem Dafoe,"b'$198,923,741'",13,14.3,0

In [261]:
#delete columns that I won't be using as features
del clean_df['Domestic_Percentage']
del clean_df['Foreign_Percentage']
del clean_df['Domestic_Percentage_Clean']
del clean_df['Foreign_Gross_Clean']

In [262]:
clean_df.head()

,id,Title,World_Gross,Domestic_Gross,Foreign_Gross,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Years_Since_Release,Is_Sequel
269,803096,Warcraft,"$439,048,914","$47,365,290","$391,683,624",2016,"$24,166,110",PG-13,66,Action\n \n Adventure\n \n ...,Universal Pictures,Duncan Jones,Travis Fimmel,Paula Patton,4,0
762,1473832,Bridget Jones's Baby,"$211,952,420","$24,252,420","$187,700,000",2016,"$8,571,785",R,61,Comedy\n \n Drama\n \n Rom...,Universal Pictures,Sharon Maguire,Renée Zellweger,Gemma Jones,4,1
403,1293847,xXx: Return of Xander Cage,"$346,118,277","$44,898,413","$301,219,864",2017,"$20,130,142",PG-13,55,Action\n \n Adventure\n \n ...,Paramount Pictures,D.J. Caruso,Vin Diesel,Donnie Yen,3,1
420,2034800,The Great Wall,"$334,933,831","$45,540,830","$289,393,001",2016,"$18,469,620",PG-13,64,Action\n \n Adventure\n \n ...,Universal Pictures,Yimou Zhang,Matt Damon,Tian Jing,4,0
674,453451,Mr. Bean's Holiday,"$232,225,908","$33,302,167","$198,923,741",2007,"$9,889,780",G,68,Comedy\n \n Family,Universal Pictures,Steve Bendelack,Rowan Atkinson,Willem Dafoe,13,0

In [266]:
#pickling df
clean_df.to_pickle('clean_df_with_sequels.pickle')

In [268]:
#added in adaptations and updated sequel column in other notebooks 
#reading updated df
clean_df = pd.read_pickle('clean_df_with_adaptations_sequels.pickle')

In [269]:
clean_df.head()

,id,Title,World_Gross,Domestic_Gross,Foreign_Gross,Year,domestic_opening_gross,rating,foreign_market_count,genres,distributor,director,actor_1,actor_2,Years_Since_Release,Is_Adaptation,Is_Sequel
269,803096,Warcraft,"$439,048,914","$47,365,290","$391,683,624",2016,"$24,166,110",PG-13,66,Action\n \n Adventure\n \n ...,Universal Pictures,Duncan Jones,Travis Fimmel,Paula Patton,4,0,0
762,1473832,Bridget Jones's Baby,"$211,952,420","$24,252,420","$187,700,000",2016,"$8,571,785",R,61,Comedy\n \n Drama\n \n Rom...,Universal Pictures,Sharon Maguire,Renée Zellweger,Gemma Jones,4,0,0
403,1293847,xXx: Return of Xander Cage,"$346,118,277","$44,898,413","$301,219,864",2017,"$20,130,142",PG-13,55,Action\n \n Adventure\n \n ...,Paramount Pictures,D.J. Caruso,Vin Diesel,Donnie Yen,3,0,1
420,2034800,The Great Wall,"$334,933,831","$45,540,830","$289,393,001",2016,"$18,469,620",PG-13,64,Action\n \n Adventure\n \n ...,Universal Pictures,Yimou Zhang,Matt Damon,Tian Jing,4,0,0
674,453451,Mr. Bean's Holiday,"$232,225,908","$33,302,167","$198,923,741",2007,"$9,889,780",G,68,Comedy\n \n Family,Universal Pictures,Steve Bendelack,Rowan Atkinson,Willem Dafoe,13,0,0

In [270]:
#need to look at top distibutors in order to start dummy variable process
clean_df.distributor.value_counts()

Warner Bros.                           146
Twentieth Century Fox                  121
Universal Pictures                     121
Walt Disney Studios Motion Pictures    116
Sony Pictures Entertainment (SPE)      103
Paramount Pictures                      74
Lionsgate                               31
DreamWorks                              23
Miramax                                 14
DreamWorks Distribution                 12
New Line Cinema                         12
Screen Gems                              9
The Weinstein Company                    9
Fox Searchlight Pictures                 8
Summit Entertainment                     7
Revolution Studios                       7
Focus Features                           5
Dimension Films                          5
TriStar Pictures                         4
STX Entertainment                        4
Metro-Goldwyn-Mayer (MGM)                4
Relativity Media                         3
FilmDistrict                             2
Sony Pictures Classics                   1
Neon                                     1
GKIDS                                    1
Magnolia Pictures                        1
United Artists                           1
United Artists Releasing                 1
IFC Films                                1
Newmarket Films                          1
Name: distributor, dtype: int64

In [299]:
new_df = pd.get_dummies(clean_df.distributor)

In [306]:
distibutors_list = list(new_df.columns)

In [308]:
top_distributors = ['Warner Bros.',
'Twentieth Century Fox',                  
'Universal Pictures',                    
'Walt Disney Studios Motion Pictures',   
'Sony Pictures Entertainment (SPE)']

for distributor in distibutors_list:
    if distributor not in top_distributors:
        print(distributor)

Dimension Films
DreamWorks
DreamWorks Distribution
FilmDistrict
Focus Features
Fox Searchlight Pictures
GKIDS
IFC Films
Lionsgate
Magnolia Pictures
Metro-Goldwyn-Mayer (MGM)
Miramax
Neon
New Line Cinema
Newmarket Films
Paramount Pictures
Relativity Media
Revolution Studios
STX Entertainment
Screen Gems
Sony Pictures Classics
Summit Entertainment
The Weinstein Company
TriStar Pictures
United Artists
United Artists Releasing

In [311]:
del new_df['Dimension Films']
del new_df['DreamWorks']
del new_df['DreamWorks Distribution']
del new_df['FilmDistrict']
del new_df['Focus Features']
del new_df['Fox Searchlight Pictures']
del new_df['GKIDS']
del new_df['IFC Films']
del new_df['Lionsgate']
del new_df['Magnolia Pictures']
del new_df['Metro-Goldwyn-Mayer (MGM)']
del new_df['Miramax']
del new_df['Neon']
del new_df['New Line Cinema']
del new_df['Newmarket Films']
del new_df['Paramount Pictures']
del new_df['Relativity Media']
del new_df['Revolution Studios']
del new_df['STX Entertainment']
del new_df['Screen Gems']
del new_df['Sony Pictures Classics']
del new_df['Summit Entertainment']
del new_df['The Weinstein Company']
del new_df['TriStar Pictures']
del new_df['United Artists']
del new_df['United Artists Releasing']

In [313]:
new_df.columns

Index(['Sony Pictures Entertainment (SPE)', 'Twentieth Century Fox',
       'Universal Pictures', 'Walt Disney Studios Motion Pictures',
       'Warner Bros.'],
      dtype='object')

In [314]:
new_df

,Sony Pictures Entertainment (SPE),Twentieth Century Fox,Universal Pictures,Walt Disney Studios Motion Pictures,Warner Bros.
269,0,0,1,0,0
762,0,0,1,0,0
403,0,0,0,0,0
420,0,0,1,0,0
674,0,0,1,0,0
...,...,...,...,...,...
469,0,0,0,0,1
1092,0,0,1,0,0
822,0,0,0,0,0
1021,1,0,0,0,0
788,0,0,0,0,0

In [315]:
compiled_df = pd.concat([clean_df, new_df], axis=1)

In [319]:
#sanity check on dummy variables
#checking to see number of distibutors not in the top 5

compiled_df[(compiled_df['Warner Bros.'] == 0) &
(compiled_df['Twentieth Century Fox'] == 0) &                  
(compiled_df['Universal Pictures'] == 0) &                    
(compiled_df['Walt Disney Studios Motion Pictures'] == 0) &   
(compiled_df['Sony Pictures Entertainment (SPE)'] == 0)]

,id,Title,World_Gross,Domestic_Gross,Foreign_Gross,Year,domestic_opening_gross,rating,foreign_market_count,genres,...,actor_1,actor_2,Years_Since_Release,Is_Adaptation,Is_Sequel,Sony Pictures Entertainment (SPE),Twentieth Century Fox,Universal Pictures,Walt Disney Studios Motion Pictures,Warner Bros.
403,1293847,xXx: Return of Xander Cage,"$346,118,277","$44,898,413","$301,219,864",2017,"$20,130,142",PG-13,55,Action\n \n Adventure\n \n ...,...,Vin Diesel,Donnie Yen,3,0,1,0,0,0,0,0
649,1855325,Resident Evil: Retribution,"$240,159,255","$42,345,531","$197,813,724",2012,"$21,052,227",R,52,Action\n \n Horror\n \n Sc...,...,Milla Jovovich,Sienna Guillory,8,0,1,0,0,0,0,0
698,2239822,Valerian and the City of a Thousand Planets,"$225,874,228","$41,189,488","$184,684,740",2017,"$17,007,624",PG-13,63,Action\n \n Adventure\n \n ...,...,Dane DeHaan,Cara Delevingne,3,0,0,0,0,0,0,0
746,2333784,The Expendables 3,"$214,657,577","$39,322,544","$175,335,033",2014,"$15,879,645",PG-13,51,Action\n \n Adventure\n \n ...,...,Sylvester Stallone,Jason Statham,6,0,1,0,0,0,0,0
1147,1618442,The Last Witch Hunter,"$146,936,910","$27,367,660","$119,569,250",2015,"$10,812,861",PG-13,56,Action\n \n Adventure\n \n ...,...,Vin Diesel,Rose Leslie,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,2592614,Resident Evil: The Final Chapter,"$312,242,626","$26,830,068","$285,412,558",2016,"$13,601,682",R,58,Action\n \n Horror\n \n Sc...,...,Milla Jovovich,Iain Glen,4,0,1,0,0,0,0,0
1153,445934,Blades of Glory,"$145,710,347","$118,594,548","$27,115,799",2007,"$33,014,202",PG-13,36,Comedy\n \n Sport,...,Will Ferrell,Jon Heder,13,0,0,0,0,0,0,0
851,398165,The Longest Yard,"$191,466,556","$158,119,460","$33,347,096",2005,"$47,606,480",PG-13,52,Comedy\n \n Crime\n \n Sport,...,Adam Sandler,Burt Reynolds,15,0,0,0,0,0,0,0
822,1649419,The Impossible,"$198,087,212","$19,019,882","$179,067,330",2012,"$143,818",PG-13,47,Drama\n \n History\n \n Th...,...,Naomi Watts,Ewan McGregor,8,0,0,0,0,0,0,0
788,2017561,Journey to the West,"$205,637,183","$18,058","$205,619,125",2013,"$7,456",PG-13,7,Action\n \n Adventure\n \n ...,...,Zhang Wen,Qi Shu,7,0,0,0,0,0,0,0

In [321]:
#top_distributor_rows
146+121+121+116+103

607

In [323]:
#all_rows
607+241

848

In [328]:
compiled_df["genres"] = compiled_df["genres"].apply(lambda x: x.replace('\n', ", "))

In [335]:
compiled_df["genre_1"] = compiled_df["genres"].apply(lambda x: x.split(',')[0])

In [337]:
compiled_df

,id,Title,World_Gross,Domestic_Gross,Foreign_Gross,Year,domestic_opening_gross,rating,foreign_market_count,genres,...,actor_2,Years_Since_Release,Is_Adaptation,Is_Sequel,Sony Pictures Entertainment (SPE),Twentieth Century Fox,Universal Pictures,Walt Disney Studios Motion Pictures,Warner Bros.,genre_1
269,803096,Warcraft,"$439,048,914","$47,365,290","$391,683,624",2016,"$24,166,110",PG-13,66,"Action, , Adventure, , ...",...,Paula Patton,4,0,0,0,0,1,0,0,Action
762,1473832,Bridget Jones's Baby,"$211,952,420","$24,252,420","$187,700,000",2016,"$8,571,785",R,61,"Comedy, , Drama, , Rom...",...,Gemma Jones,4,0,0,0,0,1,0,0,Comedy
403,1293847,xXx: Return of Xander Cage,"$346,118,277","$44,898,413","$301,219,864",2017,"$20,130,142",PG-13,55,"Action, , Adventure, , ...",...,Donnie Yen,3,0,1,0,0,0,0,0,Action
420,2034800,The Great Wall,"$334,933,831","$45,540,830","$289,393,001",2016,"$18,469,620",PG-13,64,"Action, , Adventure, , ...",...,Tian Jing,4,0,0,0,0,1,0,0,Action
674,453451,Mr. Bean's Holiday,"$232,225,908","$33,302,167","$198,923,741",2007,"$9,889,780",G,68,"Comedy, , Family",...,Willem Dafoe,13,0,0,0,0,1,0,0,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,878804,The Blind Side,"$309,208,309","$255,959,475","$53,248,834",2009,"$34,119,372",PG-13,33,"Biography, , Drama, , ...",...,Sandra Bullock,11,0,0,0,0,0,0,1,Biography
1092,1408253,Ride Along,"$154,468,902","$134,938,200","$19,530,702",2014,"$41,516,170",PG-13,19,"Action, , Comedy, , Crime",...,Kevin Hart,6,0,0,0,0,1,0,0,Action
822,1649419,The Impossible,"$198,087,212","$19,019,882","$179,067,330",2012,"$143,818",PG-13,47,"Drama, , History, , Th...",...,Ewan McGregor,8,0,0,0,0,0,0,0,Drama
1021,415306,Talladega Nights: The Ballad of Ricky Bobby,"$163,362,095","$148,213,377","$15,148,718",2006,"$47,042,215",PG-13,39,"Comedy, , Sport",...,John C. Reilly,14,0,1,1,0,0,0,0,Comedy
788,2017561,Journey to the West,"$205,637,183","$18,058","$205,619,125",2013,"$7,456",PG-13,7,"Action, , Adventure, , ...",...,Qi Shu,7,0,0,0,0,0,0,0,Action

In [350]:
compiled_df['genre_1'].value_counts()
#we will be taking the top 3 categories to make dummy variables
#they encompass a majority share

Action         388
Adventure      157
Comedy         138
Drama           64
Biography       28
Horror          27
Crime           26
Animation       13
Documentary      2
Mystery          2
Sci-Fi           1
Family           1
Fantasy          1
Name: genre_1, dtype: int64

In [338]:
genre_df = pd.get_dummies(compiled_df.genre_1)

In [339]:
genre_df

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,Horror,Mystery,Sci-Fi
269,1,0,0,0,0,0,0,0,0,0,0,0,0
762,0,0,0,0,1,0,0,0,0,0,0,0,0
403,1,0,0,0,0,0,0,0,0,0,0,0,0
420,1,0,0,0,0,0,0,0,0,0,0,0,0
674,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,0,0,0,1,0,0,0,0,0,0,0,0,0
1092,1,0,0,0,0,0,0,0,0,0,0,0,0
822,0,0,0,0,0,0,0,1,0,0,0,0,0
1021,0,0,0,0,1,0,0,0,0,0,0,0,0
788,1,0,0,0,0,0,0,0,0,0,0,0,0

In [351]:
genre_list = list(genre_df.columns)

top_genres = ['Action','Adventure','Comedy']

for genre in genre_list:
    if genre not in top_genres:
        print(genre)

Animation
Biography
Crime
Documentary
Drama
Family
Fantasy
Horror
Mystery
Sci-Fi

In [354]:
del genre_df['Animation']
del genre_df['Biography']
del genre_df['Crime']
del genre_df['Documentary']
del genre_df['Drama']
del genre_df['Family']
del genre_df['Fantasy']
del genre_df['Horror']
del genre_df['Mystery']
del genre_df['Sci-Fi']

In [355]:
genre_df

      Action  Adventure  Comedy
269        1          0       0
762        0          0       1
403        1          0       0
420        1          0       0
674        0          0       1
...      ...        ...     ...
469        0          0       0
1092       1          0       0
822        0          0       0
1021       0          0       1
788        1          0       0

[848 rows x 3 columns]

In [356]:
final_df = pd.concat([compiled_df, genre_df], axis=1)

In [360]:
final_df.to_pickle('final_clean_df.pickle')

In [362]:
final_df.to_csv(r'/Users/juliaqiao/Documents/Metis/Project_2/compiled_df_updated.csv')

In [361]:
final_df

,id,Title,World_Gross,Domestic_Gross,Foreign_Gross,Year,domestic_opening_gross,rating,foreign_market_count,genres,...,Is_Sequel,Sony Pictures Entertainment (SPE),Twentieth Century Fox,Universal Pictures,Walt Disney Studios Motion Pictures,Warner Bros.,genre_1,Action,Adventure,Comedy
269,803096,Warcraft,"$439,048,914","$47,365,290","$391,683,624",2016,"$24,166,110",PG-13,66,"Action, , Adventure, , ...",...,0,0,0,1,0,0,Action,1,0,0
762,1473832,Bridget Jones's Baby,"$211,952,420","$24,252,420","$187,700,000",2016,"$8,571,785",R,61,"Comedy, , Drama, , Rom...",...,0,0,0,1,0,0,Comedy,0,0,1
403,1293847,xXx: Return of Xander Cage,"$346,118,277","$44,898,413","$301,219,864",2017,"$20,130,142",PG-13,55,"Action, , Adventure, , ...",...,1,0,0,0,0,0,Action,1,0,0
420,2034800,The Great Wall,"$334,933,831","$45,540,830","$289,393,001",2016,"$18,469,620",PG-13,64,"Action, , Adventure, , ...",...,0,0,0,1,0,0,Action,1,0,0
674,453451,Mr. Bean's Holiday,"$232,225,908","$33,302,167","$198,923,741",2007,"$9,889,780",G,68,"Comedy, , Family",...,0,0,0,1,0,0,Comedy,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,878804,The Blind Side,"$309,208,309","$255,959,475","$53,248,834",2009,"$34,119,372",PG-13,33,"Biography, , Drama, , ...",...,0,0,0,0,0,1,Biography,0,0,0
1092,1408253,Ride Along,"$154,468,902","$134,938,200","$19,530,702",2014,"$41,516,170",PG-13,19,"Action, , Comedy, , Crime",...,0,0,0,1,0,0,Action,1,0,0
822,1649419,The Impossible,"$198,087,212","$19,019,882","$179,067,330",2012,"$143,818",PG-13,47,"Drama, , History, , Th...",...,0,0,0,0,0,0,Drama,0,0,0
1021,415306,Talladega Nights: The Ballad of Ricky Bobby,"$163,362,095","$148,213,377","$15,148,718",2006,"$47,042,215",PG-13,39,"Comedy, , Sport",...,1,1,0,0,0,0,Comedy,0,0,1
788,2017561,Journey to the West,"$205,637,183","$18,058","$205,619,125",2013,"$7,456",PG-13,7,"Action, , Adventure, , ...",...,0,0,0,0,0,0,Action,1,0,0

In [363]:
#delete everthing we're not absolutely using for regression model
del final_df['World_Gross']
del final_df['Year']
del final_df['genres']
del final_df['genre_1']

In [365]:
final_df.columns

Index(['id', 'Title', 'Domestic_Gross', 'Foreign_Gross',
       'domestic_opening_gross', 'rating', 'foreign_market_count',
       'distributor', 'director', 'actor_1', 'actor_2', 'Years_Since_Release',
       'Is_Adaptation', 'Is_Sequel', 'Sony Pictures Entertainment (SPE)',
       'Twentieth Century Fox', 'Universal Pictures',
       'Walt Disney Studios Motion Pictures', 'Warner Bros.', 'Action',
       'Adventure', 'Comedy'],
      dtype='object')

In [366]:
final_df.to_csv(r'/Users/juliaqiao/Documents/Metis/Project_2/final_df.csv')

In [367]:
final_df.to_pickle('final_df.pickle')